@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slideIn {
    animation: slide-in 0.25s ease-out forwards;
}